.site {
  background-image: url('trash-1994.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 2em);
  margin: 1em;
  z-index: -3;
}

.PHOTOpage {
  background-image: url('trash-1994.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 2em);
  margin: 1em;
  z-index: -3;
}

.PAINTINGpage {
  background-image: url('trash-1994.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 2em);
  margin: 1em;
  z-index: -3;
}
.PAINTINGpage .PAINT {color: rgba(100,255,150, 1);}
.PHOTOpage .PHOTO {color: rgba(255,218,138, 1);}
.threeDeepage .threeDee {color: rgba(200, 150,255, 1);}
.threeDeepage {
  background-image: url('trash-1994.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 2em);
  margin: 1em;
  z-index: -3;
}

a {
  font-size: 100%;
  justify-content: center;
  color: inherit;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  height: 100%;
}
a:hover {color: inherit;
  text-decoration: none;}

.PHOTO,
.PAINT,
.threeDee,
.ANIMATION,
.CONTACT,
.CLIENT,
.CITY,
.PEOPLE,
.PLACES,
.OIL,
.WATERCOLOR,
.DIGITAL,
.SKETCH,
.IMAGES,
.MOTION,
.HOME,
.NAVBAR {
  color: white;
  font-family: sans-serif;
  text-align: center;
  justify-content: center;
  z-index: 3;
  padding: .5em;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  transition: 1s;
}

.PHOTO:hover,
.PAINT:hover,
.threeDee:hover ,
.ANIMATION:hover,
.CLIENT:hover,
.CITY:hover,
.PEOPLE:hover,
.PLACES:hover,
.OIL:hover,
.WATERCOLOR:hover,
.DIGITAL:hover,
.SKETCH:hover,
.IMAGES:hover,
.MOTION:hover,
.HOME:hover,
.NAVBAR:hover {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  transition: .3s;
}

.niceColPairs {
  background-color: rgba(150, 100, 255, 0.25);
  color: rgba(255, 200, 0, 1);

  background-color: rgba(255, 100, 200, 0.25);
  color: rgba(150, 200, 255, 1);

  background-color: rgba(255,150,50,0.25);
  color: rgba(85, 255, 200, 1);

  background-color: rgba(150, 255, 255, 0.25);
  color: rgba(255, 150, 255, 1);
}

.NAVBARpaint {
  grid-area: navbar;
}
.NAVBARphoto {
  grid-area: navbar;
}
.NAVBARthreedee {
  grid-area: navbar;
}
.NAVBARanimation {
  grid-area: navbar;
}
.HOME {
  padding: 0em;
  grid-area: home;
  background-color: rgba(255,100,150, 0.25);}
.HOME:hover {
  color: rgba(255,100,100, 1);
}
.PHOTO {
  grid-area: photo;
  background-color: rgba(138,212,255, 0.25);}
.PHOTO:hover {
  color: rgba(255,218,138, 1);}

.PAINT {
  grid-area: paint;
  background-color: rgba(255,175,200,0.25);}
.PAINT:hover {
  color: rgba(100,255,150, 1);}

.threeDee {
  grid-area: threedeearea;
  background-color: rgba(255,218,118,0.25);}
.threeDee:hover {
  color: rgba(200, 150,255, 1);}

.ANIMATION {
  grid-area: animation;
  background-color: rgba(138,255,218,0.25);}
.ANIMATION:hover {
  color: rgba(255, 175, 200, 1);}

.CONTACT {
  -webkit-backdrop-filter: blur(0px);
  backdrop-filter: blur(0px);
  font-size: 15px;
  grid-area: contact;
  background-color: rgba(255,100,50,0);}
.CONTACT:hover {
  color: rgba(140, 255, 255, 1);}

@media screen and (min-width: 700px) {

  .PEOPLE {
    grid-area: people;
    background-color: rgba(138,212,255, 0.25);
  }
  .PEOPLE:hover {
    color: rgba(255,218,138, 1);
  }
  .CITY {
    grid-area: city;
    background-color: rgba(138,212,255, 0.25);
  }
  .CITY:hover {
    color: rgba(255,218,138, 1);
  }
  .CLIENT {
    grid-area: client;
    background-color: rgba(201,136,255, 0.25);;
    ;
  }
  .CLIENT:hover {
    color: rgba(255, 161, 96, 1);
  }
  .PLACES {
    grid-area: places;
    background-color: rgba(201,136,255, 0.25);
  }
  .PLACES:hover {
    color: rgba(255, 161, 96, 1);
  }

  .OIL {
    grid-area: oil;
    background-color: rgba(255,175,200,0.25);
  }
  .OIL:hover {
    color: rgba(100,255,150, 1);
  }

  .WATERCOLOR {
  grid-area: watercolor;
  background-color: rgba(255,175,200,0.25);
  }
  .WATERCOLOR:hover {color: rgba(100,255,150, 1);}

  .DIGITAL {
    grid-area: digital;
    background-color: rgba(255, 124, 160, 0.25);
  }
  .DIGITAL:hover {
    color: rgba(255, 150, 255, 1);
  }

  .SKETCH {
    grid-area: sketch;
    background-color: rgba(255, 124, 160, 0.25);
  }
  .SKETCH:hover{
    color: rgba(255, 150, 255, 1);
  }

  .IMAGES {
    grid-area: images;
    background-color: rgba(255,200,118,0.25);
  }
  .IMAGES:hover {
      color: rgba(200, 150,255, 1);
  }

  .MOTION {
    grid-area: motion;
    background-color: rgba(255,200,118,0.25);
  }
  .MOTION:hover {
    color: rgba(200, 150,255, 1);
  }
}
@media screen and (max-width: 700px) {

  .PEOPLE {
    grid-area: people;
    background-color: rgba(138,212,255, 0.25);

  }
  .PEOPLE:hover {
    color: rgba(255,218,138, 1);;
  }
  .CITY {
    grid-area: city;

  }
  .CITY:hover {

  }
  .CLIENT {
    grid-area: client;
  }
  .CLIENT:hover {

  }
  .PLACES {
    grid-area: places;
  }
  .PLACES:hover {

  }

  .OIL {
    grid-area: oil;
    background-color: rgba(255,175,200,0.25);
  }
  .OIL:hover {
    color: rgba(100,255,150, 1);
  }

  .WATERCOLOR {
  grid-area: watercolor;
  }
  .WATERCOLOR:hover {}

  .DIGITAL {
    grid-area: digital;
  }
  .DIGITAL:hover {}

  .SKETCH {grid-area: sketch;}
  .SKETCH:hover{}


}
@media screen and (max-width: 900px) {
  .IMAGES {
    grid-area: images;
    background-color: rgba(255,200,118,0.25);
  }
  .IMAGES:hover {
      color: rgba(200, 150,255, 1);
  }

  .MOTION {
    grid-area: motion;
    background-color: rgba(255,184,153,0.25);
  }
  .MOTION:hover {
    color: rgba(255, 133, 215, 1)

  }
}
