.site {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr);
	grid-gap: 1em;
	grid-template-areas:
		"photo paint"
		"threedeearea animation"
		"contact contact";
}

.PHOTOpage {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr);
	grid-gap: 1em;
	grid-template-areas:
	"navbar navbar"
	"people city"
	"places client"
	"home home";
}

.PAINTINGpage {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: minmax(150px, 1fr) minmax(150px, 1fr) minmax(150PX, 1fr) minmax(150px, 1fr);
	grid-gap: 1em;
	grid-template-areas:
	"navbar navbar"
	"oil watercolor"
	"digital sketch"
	"home home";
}

.threeDeepage {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr);
	grid-gap: 1em;
	grid-template-areas:
	"navbar navbar"
	"images motion"
	"home home";

}

@media screen and (max-width: 600px) {

	.site {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
		grid-gap: 1em;
		grid-template-areas:
		"photo"
		"paint"
		"threedeearea"
		"animation"
		"contact";
	}

	.PHOTOpage {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-gap: 1em;
		grid-template-areas:
		"navbar"
		"people"
		"city"
		"places"
		"client"
		"home";
	}

	.PAINTINGpage {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-gap: 1em;
		grid-template-areas:
		"navbar"
		"oil"
		"watercolor"
		"digital"
		"sketch"
		"home";
	}


}
@media screen and (max-width: 900px) {
	.threeDeepage {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		grid-gap: 1em;
		grid-template-areas:
		"navbar"
		"images"
		"motion"
		"home";
	}
}
