.site {
  background-image: url('trash-1994.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 2em);
  margin: 1em;
  z-index: -3;
}

.PHOTO,
.PAINT,
.threeDee,
.ANIMATION,
.CONTACT {
  color: white;
  font-family: sans-serif;
  text-align: center;
  justify-content: center;
  padding: 1em;
  z-index: 3;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  transition: 1s;
}

.PHOTO:hover,
.PAINT:hover,
.threeDee:hover ,
.ANIMATION:hover,
.CONTACT:hover {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  transition: .3s;
}

.PHOTO {
  grid-area: photo;
  background-color: rgba(138,212,255, 0.25);
}
.PHOTO:hover{
  color: rgba(255,218,138, 1);
}

.PAINT {
  grid-area: paint;
  background-color: rgba(255,175,200,0.25);
}
.PAINT:hover {
  color: rgba(75,255,150, 1);
}

.threeDee {
  grid-area: threedeearea;
  background-color: rgba(255,218,138,0.25);
}
.threeDee:hover {
  color: rgba(200, 150,255, 1);
}

.ANIMATION {
  grid-area: animation;
  background-color: rgba(138,255,218,0.25);
}

.ANIMATION:hover {
  color: rgba(255, 175, 200, 1);
}

.CONTACT {
  grid-area: contact;
  background-color: rgba(218,255,138,0.25);
}
.CONTACT:hover {
  color: rgba(255, 200, 100, 1);
}
